button{
  text-transform: uppercase;
  padding: 5px;
  background-color: grey;
  color: pink; 
  margin: 5px; 
}
.image
{
  height: auto;
  max-width: 100%;
  margin: 5px;
  
}
.card{
  background-color: #ffb6c1;
  width: 400px;
  max-width: 400px;
  height:auto;
  padding-top:15px
  
}
h4{
  padding: 4px; 
  margin: 5px;
  font-size: 60px;
  font-family: cursive;
  color: black; 
}
p{
  margin: 10px;
   font-family: cursive;
  color: black;
}
.buttons button:focus,
.buttons button:hover {
  background-color: #ADD8E6;
}


@media only screen and (max-width: 600px) and (min-width: 500px){
  .btn{
    display:none; 
  }
}

@media screen and (max-width: 600px){
  /*.card{
    
  //}
  */
}
.basic{
  background-color: #CBC3E3;
  color: black;
}